button {
    /* padding: 10px; */
    width: 200px;
    /* height: 60px; */
    text-align: center;
}

button:hover {
    box-shadow: 5px 5px #888888;
}

#display {
    font-size: 40px;
}

.welcome {
    position: absolute;
    top: 50px;
    left: 100px;
}